@import '_mixin.scss';
@import '_variables.scss';

#header-payment {
    padding-top: 10rem;
    padding-bottom: 10rem;
    min-height: 450px;

    .header-content {
        text-align: center;

        .title {
            font-weight: 700;
            font-size: 3rem;
        }

        .summary {
            font-weight: 600;
            font-size: 1.25rem;
        }
    }
}

#section-payment {
    .title-page {
    }

    .remind-login {
        font-size: 15px;

        button {
            cursor: pointer;
            font-weight: 700;
            border: 0px;
            color: #FF9E1C;
            background-color: transparent;
        }
    }

    .table-cart-payment {
        table {
            border-radius: .75rem;

            thead {
                tr {
                    th {
                        border-top-left-radius: .75rem;
                        border-top-right-radius: .75rem;
                        background-color: rgb(90 169 89 / 20%);
                        border: 0px;
                    }
                }
            }

            tbody {
                border: 1px solid #dee2e6;
                border-top: 0px;
                border-bottom-left-radius: .75rem;
                border-bottom-right-radius: .75rem;

                tr {
                    &:last-child {
                        td:first-child {
                            /*border-bottom-left-radius: .75rem;*/
                        }

                        td:last-child {
                            /* border-bottom-right-radius: .75rem;*/
                        }
                    }

                    td {
                        padding: .5rem .25rem;
                        font-size: 14px;

                        &.product-thumbnail {
                            width: 210px;
                            text-align: right;

                            img {
                                width: 200px;
                                height: 100px;
                                object-fit: contain;
                                object-position: center;
                                border-radius: .5rem;
                            }
                        }

                        &.product-name {
                            a {
                                font-size: 15px;
                                font-weight: 600;
                                color: #02103B;
                            }
                        }

                        &.product-quantity {
                            text-align: center;

                            .chonse-item-child {
                                background-color: transparent;
                                border: 0;
                                color: #FF9E1C;
                                cursor: pointer;
                                text-decoration: underline;
                            }

                            .block-quantity {
                                width: 70px;
                                margin: auto;

                                .btn {
                                    padding: 0.25rem;
                                    line-height: 1.2;
                                }

                                .form-control {
                                    border: 0px;
                                    line-height: 1.2;
                                }
                            }
                        }

                        &.product-price {
                            text-align: right;
                            font-family: 'Inter', sans-serif;

                            .price-sum {
                                font-weight: 700;
                                font-size: 15px;
                                margin-bottom: .5rem;
                            }

                            .price-child {
                                font-size: 12px;
                            }
                        }

                        &.product-delete {
                            width: 40px;

                            .btn-trash {
                                padding-top: 0;
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }

    .price-table-total {
        margin-top: 1rem;
        margin-bottom: 2rem;
        text-align: right;

        span {
            font-weight: 500;
            font-size: 14px;

            &.price-total {
                font-weight: 700;
                font-size: 1.25rem;
                font-family: 'Inter', sans-serif;
            }
        }
    }

    .card-view {
        font-size: 14px;
        border: thin solid #ddd;
        border-radius: 1rem;

        .title {
            padding: .75rem 1rem;
            border-bottom: 1px solid #ddd;
        }

        &.info-user {
        }

        &.info-payment {
            .price-sum {
                font-weight: 500;
                font-family: 'Inter', sans-serif;
            }

            .price-payment {
                font-weight: 700;
                font-size: 1.25rem;
                font-family: 'Inter', sans-serif;
            }
        }
    }
}
