@import '_mixin.scss';
@import '_variables.scss';
#slide-shop-beexu .block-info-course .info .sub-title {
    font-weight: 600;
}

.block-list-logo {
    .block-logo {
        text-align: center;
        margin: 2rem auto 5rem auto;

        img {
            max-width: 150px;
        }
    }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}