$primary-color: #FF6B00;
$primary-dark-color: #FF9E1C;
$secondary-color: #FFE666;
$title-color: #252525;
$text-color: #454545;
$text-light-color: #7B7977;
$primary-font: 'Open Sans','Inter','Nunito', sans-serif, 'Barlow Semi Condensed';
$title-font: 'Nunito', 'Open Sans','Inter', sans-serif, 'Barlow Semi Condensed';
$secondary-font: 'iCiel Borsok','Inter','Open Sans','Nunito', sans-serif;
$third-font: 'Inter','Open Sans','Nunito','iCiel Borsok', sans-serif;